<h1>Todays affirmation</h1>


<div>Date: {{affirmation.date}}</div>
<div>
  Note:
  {{affirmation.note}}
</div>

{{#if isLoggedIn}}
  <div>
    <a href="/update-affirmation/{{affirmation.id}}" class="btn btn-success">Update</a>
  </div>
{{/if}}
{{#if isLoggedIn}}
  <div>
    <form action="/delete-affirmation/{{affirmation.id}}" method="post">
      <input type="submit" value="Delete" class="btn btn-error" />
    </form>
  </div>
{{/if}}