

<div class="parent"> 
    <div class="div1">
        <img src="IMG_8290.jpg" alt="contact-picture" class="contact-picture"/>
    </div> 
    <div class="div2" class="contact-text"> 
        <p>
            If you want to contact me/ ask questions or whatever:<br>
            e-mail: weronikaannaowczarz@gmail.com <br>
            phone: +48 666 666 666 <br>
            I will gladly answear you questions or collaborate on some projects. <br>
            Keep in mind that sometimes it might take me a longer time to respond.<br>
            Don't worry! I will make sure that I answer everyone! <br>
            <br>
            <br>
            <br>
            Don't forget to sigh into the guest book!
            In there you can see others who have already signed and see what they wrote to me.
            It is really very simple. 
            Just click the blue putton on the left!

        </p>
        <img src="IMG_9051-4.jpg" class="contactBottom-picture"/>
    </div> 
</div>
<a href="/guests" class="btn btn-primary position-button">Guest book</a>
