
<div class="containerHome">
<img src="/horizontal.png" alt="horizontal picture"  class="horizontal-picture">
</div>

<div class="parent"> 
    <div class="div1">
        <img src="_MG_5392.jpg" alt="profile-picture" class="profile-picture"/>
    </div> 
    <div class="div2"> 
        <p>Massa tincidunt nunc pulvinar sapien. Lorem ipsum dolor sit amet. <br>
        Ac turpis egestas sed tempus urna et pharetra pharetra. Facilisi morbi <br>
        tempus iaculis urna id volutpat lacus. Nulla pharetra diam sit amet. <br>
        Mattis rhoncus urna neque viverra justo. Feugiat in ante metus dictum at <br>
        tempor commodo ullamcorper. Ante in nibh mauris cursus mattis. Vitae justo <br>
        eget magna fermentum iaculis eu non diam. Iaculis at erat pellentesque <br>
        adipiscing commodo elit at imperdiet. Dignissim diam quis enim lobortis. <br>
        In hendrerit gravida rutrum quisque non tellus orci ac auctor. Ullamcorper <br>
        velit sed ullamcorper morbi tincidunt ornare massa eget egestas. Enim ut sem <br>
        viverra aliquet eget sit amet tellus. Sed euismod nisi porta lorem mollis aliquam.<br>
         Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Viverra tellus <br>
         in hac habitasse platea dictumst vestibulum rhoncus est.</p>
    </div> 
</div>



