
<div class="containerHome">
<img src="/horizontal.png" alt="horizontal picture"  class="horizontal-picture">
</div>

<div class="parent"> 
    <div class="div1">
        <img src="_MG_5392.jpg" alt="profile-picture" class="profile-picture"/>
    </div> 
    <div class="div2"> 
        <p> Hi and welcome to my blog website about me, my passions and the work I create.<br>
            I am Weronika and I am studying web development and graphic design in Sweden. <br>
            I just started my second year and am excited to see what new I will learn this year.<br>
            Few things about me you should probably know is that I am crazy about dance. <br>
            I have been dancing since I was able to walk. My mom took to to baby ballet classes and that's how it all started.<br>
            Now I am 21 years old and still dancing... mostly moder or lyrical.<br>
            Another fact about me is that actually before comming to Sweden i studied for one year in Poland: Choreography and dance techniques.<br>
            Each week, I will post a new entry about things that inspired or affected my past days. <br>
            Moreover EVERY DAY in the morning you can hop in here for a new quote that will inspire you.<br> 
            On the contact page, you can find a guest book, where you can sign up and send me a short message!
            
            </p>
    </div> 
</div>



