<h1>Update post</h1>

{{#if dbError}}
    <p class="toast toast-error">Can not display this page now. We are working to fix this problem.</p>
{{else}}

  {{#if validationErrors.length}}
    <div class="toast toast-warning">
      <p>Can not update the post because:</p>
      <ul>
        {{#each validationErrors}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
    <form method="post">
      <div>
        <input type="text" name="title" value="{{post.title}}" />
      </div>
      <div class="form-group">
        <label class="form-label" for="input-example-3"></label>
        <textarea
          class="form-input"
          id="input-example-3"
          placeholder="Write your post here"
          rows="10"
          name="mainText"
        >{{post.mainText}}</textarea>
      </div>
      <input type="submit" value="Update" class="btn btn-success" />
    </form>
{{/if}}
