<h1>Update quote</h1>

{{#if dbError}}
    <p class="toast toast-error">Can not display this page now. We are working to fix this problem.</p>
{{else}}

  {{#if validationErrors.length}}
    <div class="toast toast-warning">
      <p>Can not update the quote because:</p>
        <ul>
          {{#each validationErrors}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
    </div>
  {{/if}}

  <form method="post">
    <div>
      <input type="date" name="date" value="{{affirmation.date}}" />
    </div>
    
    <div>
      <input type="text" name="note" value="{{affirmation.note}}" />
    </div>
    
    <input type="submit" value="Update" class="btn btn-success"/>
  </form>
{{/if}}
